In [2]:
import pandas as pd

alunosDic = {'Nome' : ['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
         'Nota' : [4.5, 7, 5.5, 9],
         'Aprovado' : ['Não', 'Sim', 'Não', 'Sim']}

# cria um dataframe a partir de um dicionario
alunosDF = pd.DataFrame(alunosDic)
print(alunosDF)

      Nome  Nota Aprovado
0  Ricardo   4.5      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [7]:
# informa as dimensões do dataframe - é um atributo
print(alunosDF.shape, '\n')
# dá várias informações sobre o dataframe
print(alunosDF.describe(), '\n')

(4, 3)

          Nota
count  4.00000
mean   6.50000
std    1.95789
min    4.50000
25%    5.25000
50%    6.25000
75%    7.50000
max    9.00000

In [13]:
# Exibe dados apenas da primeira coluna (slace - fatiamento)
print(alunosDF['Nome'], '\n')

# Exibe as linhas informdas (por meio de uma lista)
print(alunosDF.loc[[0]], '\n')
print(alunosDF.loc[1 : 2], '\n')

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
Name: Nome, dtype: object

      Nome  Nota Aprovado
0  Ricardo   4.5      Não

      Nome  Nota Aprovado
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [15]:
# Exibe todas as linhas que o Nome seja Pedro
alunosDF.loc[ alunosDF['Aprovado'] == 'Sim']

     Nome  Nota Aprovado
1   Pedro   7.0      Sim
3  Carlos   9.0      Sim

In [ ]:
#
#
#
# Manipular linhas

In [18]:
# É interessante criar novos dataframes para não modificar o original

primeirasL = alunosDF.loc[0 : 2]
print(primeirasL, '\n')

novoDF = alunosDF.loc[alunosDF['Nota'] != 9]
print(novoDF, '\n')

      Nome  Nota Aprovado
0  Ricardo   4.5      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

      Nome  Nota Aprovado
0  Ricardo   4.5      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não